In [29]:
print("Hello world")

Hello world

In [30]:
a = 3
b = 4
c = a+b
print(c)

7

In [31]:
a = True
print(type(a))

<class 'bool'>

In [32]:
x = 75
y = 34.5
z = 3j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
a = 4.5
b = 5
c = 0
d = 45
e = (a+b-c*d)
print(int(e))

9

In [34]:
a = 2
b = 5+6
c = 2
d = (a+b/c)
print(d)

7.5

In [35]:
a = 5
b = 5+6
c = 2
d = (a+b/c)
if (d == 7.5):
    print("correct")
else:
    print("wrong")

wrong

In [25]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday','saturday','sunday']

for i in days:
    print(i)

Monday
Tuesday
Wednesday
Thursday
Friday
saturday
sunday

In [ ]:
import math

In [ ]:
math.lcm(23, 45, 6, 7)

14490

In [ ]:
math.cos(90)

-0.4480736161291701

In [88]:
name = input("type your name")
print(name)

regno = input("type your regno")
print(regno)

collegename = input("collegename")
print("collegename:",collegename)

arbaaz
4302
collegename: psvcet

In [40]:
a = {2:3}
print(type(a))

<class 'dict'>

In [50]:
a = 'hussain'
b = 'arbaaz'
c = (a+b)
print(c)
c = 3
z = str(c)
d = (a+z)
print(d)
print(c*c)

hussainarbaaz
hussain3
9

In [53]:
u = 3+4j
v = 5
w = (u+v)
print(w,type(w),id(w))

(8+4j) <class 'complex'> 2786578513648

In [60]:
a = 5
b = 6
a *= b
print(a)
print(float(a))

30
30.0

In [66]:
a == 6
b = 5
print(a+b)

11

In [22]:
a = 2
b = 3
c = (a+b)
print(c)

5

In [72]:
5 > 2
 
10 > 6 

5 < 2

False

In [76]:
5 == 2

False

In [78]:
a = b = c = 10
print(a+b*c)

110

In [1]:
a,b,c= (5,6,7)
d = (a+b+c)
print(d)
e,f = (12,6)
g = (e,f)
print(g)

18
(12, 6)

In [3]:
a = ['gugan','rohith','akash','saravana','kishore','arbaaz']

for i in (a):
    print(i)

gugan
rohith
akash
saravana
kishore
arbaaz

In [13]:
a = {2,3,4,5,6,7}
print(a)

for i in a:
    print(i)

{2, 3, 4, 5, 6, 7}
2
3
4
5
6
7

In [10]:
a = {3:'gugan', 5:'akash', 1:'arbaaz'}
print(a)

for i in a:
        print(i, a[i])

{3: 'gugan', 5: 'akash', 1: 'arbaaz'}
3 gugan
5 akash
1 arbaaz

In [18]:
c = {1,2,3,4,5,6,7,8}
print(c)

for i in range(1,5):
    print(i)
    print(i,(i))

{1, 2, 3, 4, 5, 6, 7, 8}
1
1 1
2
2 2
3
3 3
4
4 4

In [31]:
name = {'gugan', 35, 45,'hussain', 76, 35, 45, 'gugan',83}
data = set(name)
name = list(data)
data = list(name)
print(data)

for i in name:
    print(i)

['hussain', 'gugan', 35, 83, 76, 45]
hussain
gugan
35
83
76
45

In [33]:
print(name)

['hussain', 'gugan', 35, 83, 76, 45]

In [40]:
a = (1.9)
print(int(a))

1

In [46]:
a,b = 2.3,5
print(type(b),type(a))

for i in a,b:
    print(i)

<class 'int'> <class 'float'>
2.3
5

In [48]:
a = 5
b = 3
c = 6
d = (a+b+c/a+b)
print(d)

12.2

In [53]:
a = 64 
b = math.sqrt(a)
print(b)
c = int(b)

8.0

In [58]:
a = 23
if a >= 10:
    print('a is greatrer than 5')
else:
    print('a is less than 5')

a is greatrer than 5

In [62]:
a = 23
if a<= 5:
    print('a is less than 5')
else:
    print('end')

end

In [90]:
a = 'arbaaz'
if 'arbaaz' in a:
    print('arbaaz in name')
elif 'gugan' in a:
    print('gugan is in name')
elif 'kishore' in a :
    print('kishore is in name')
elif 'rohith' in a:
    print('rohith is in name')
else:
    print('not available')

arbaaz in name

In [76]:
a = 50
a >= 10
if a >= 10:
    print('a is greater than 10')
elif a <= 10:
    print('a is less than 10')
elif a == 10:
    print('a is equal to 10')

a is greater than 10

In [77]:
# NameError
# Syntax error
# AssertionError
# EOFError
# RuntimeError
# OverflowError
# ArithmeticError
# MemoryError
# FloatingPointError
# SystemError
# NotImplementedError
# OSError
# UnicodeEncodeError

In [88]:
a = 8.9
if type(a) is int:
    print(' a is an integer')
    if a==1:
        print("A is 1")
    elif a==2:
        print("a is 2")
    elif a==3:
        print("a is 3")
    elif a==4:
        print("a is 4")
    elif a==5:
        print("a is 5")
    elif a==6:
        print("a is 6")
    elif a==7:
        print("a is 7")
else:
    print('End')

End

In [6]:
def student(n):
   match n:
      case 0: return "gugan"
      case 1: return "akash"
      case 2: return "kishore"
      case 3: return "nandha"
      case 4: return "arbaaz"
      case 5: return "rohith"
      case 6: return "Saravana"
      case _: return "Invalid student"
print (student(5))
print (student(8))
print (student(7))

rohith
Invalid student
Invalid student

for loop

In [7]:
a =  [1,2,3,4,5,6,7,8]

for i in a:
    print(i)

1
2
3
4
5
6
7
8

In [18]:
a = [1,2,3,4,5,6]

for i in a:
    print(i)

1
2
3
4
5
6

In [21]:
name = input('enter your name')

for i in name :
    print(i)

a
r
b
a
a
z

In [65]:
a = int(input('enter your mark'))
if type(a) is int:
    print(a)
    if a == 100:
        print("Excellent")
    elif a >= 90:
        print("good")
    elif a >= 80:
        print("Good")
    elif a >= 70:
        print("average")
    elif a >= 60:
        print("better")
    elif a >= 50:
        print("try hard")
    elif a >= 40:
        print("too bad")
    elif a >= 10:
        print("fail")
else:
    print("absent")

10
fail

In [20]:
a = (1,2,3,4,56,7,65,3,235)

for i in range(5):
    print(i)
    if (i>=4):
        break
    print(i,i)

0
0 0
1
1 1
2
2 2
3
3 3
4

In [23]:
for i in a:
    print(i)
    if (i==56):
        continue
    print(i,(i))

1
1 1
2
2 2
3
3 3
4
4 4
56
7
7 7
65
65 65
3
3 3
235
235 235

In [25]:
for i in range(5):
    print(i)
    if (i>=4):
        pass
    print(i,i)

0
0 0
1
1 1
2
2 2
3
3 3
4
4 4

In [3]:
a = 100
while type(a) == int:
    print('yes')
    a = a/2
    print(a)

yes
50.0

In [4]:
def addision(a=1,b=0):
    return a+b
print(addision(3,4))
print(addision())

7
1

In [9]:
def arbaaz():
    print("welcome")

arbaaz()

welcome

In [14]:
def addision(a,b):
    return a+b
addision(2,4)

6

In [16]:
def addision(x,y):
    return x+y
addision ("arbaaz","gugan")

'arbaazgugan'

In [18]:
def sub(k,l):
    return k-l
sub(9,5)

4

In [22]:
def addision(a,b,c=1):
    return a+b+c
addision(a=0,b=0,c=0)

0

In [23]:
2**2**2**2

65536

In [32]:
a = 3
b = 5
c = (a+b)
print("C =",c)

C = 8

In [34]:
print(a==b)
print(a!=b)

False
True

In [37]:
print(a>2 and b<6)

True

In [39]:
print(a>2 or b<4)

True

In [51]:
def marks():
    return sum(marks)
marks = (input("Mark1"))
marks = (input("mark 2"))

print("mark1","mark2")
print(sum(marks))

mark1 mark2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
# is operator
a = ('gugan')
b = ('rohith')
c = a
print(a is b)
print( a is not b)

False
True

In [58]:
a = 45
if (a%2 == 0):
    print('even')
else:
    print('odd')

odd

In [60]:
a = "arbaaz"[::-1]
print(a)

zaabra

In [87]:
def divide(x,y):
    try:
        result = x // y
        print("Yeah ! Your answer is :", result)
    except ZeroDivisionError:
            print("Sorry ! You are dividing by zero ")
divide(6,5)

Yeah ! Your answer is : 1